.big {
    background-color: #94d1c1;
    color:black;
    width: 33%;
    height: fit-content;
    content: "\n";
    word-break: break-word;
    white-space: pre-wrap;
    border-style: solid;
    border-width: thin;
    border-radius: 10px;
    font-family: Helvetica;
}

.title {
    background-color: darkcyan;    
    text-align: left;
    font-size: 20px;
    border-style: solid;
    border-width: thin;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
}

.text {
    text-align: left;
    color: black;
    width: 80%;
    margin-left: 2%;
    height: fit-content;
    display: block;
    font-size: 15px;
}

.pootton {
    width: 33%;
    height: 30px;
}