.big {
    background-color: aqua;
    color:black;
    width: 33%;
    height: fit-content;
    border: 2px, red;
    content: "\n";
    word-break: break-word;
    white-space: pre-wrap;
    
}

.title {
    background-color:bisque;
    text-align: left;
    font-size: 20px;
}

.text {
    text-align: left;
    color: black;
    width: 80%;
    margin-left: 2%;
    height: fit-content;
    display: block;
    font-size: 15px;
}

.pootton {
    width: 33%;
    height: 30px;
}